<link rel="stylesheet" href="styles/login.css">
<script src="libraries/jquery.min.js"></script>
<script src="scripts/login.js"></script>
<h1 style="color: red;"><?php echo $error ?></h1>
<div id="sign_page">
    <div>
        <div id="sign_in">
            <form action="" method="POST">
                <h1>Sign in</h1>
                <!--<div id="icons">
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                </div>
                <span>or use your account</span>-->
                <input type="text" name="login" placeholder="Login">
                <input type="password" name="password" placeholder="Password">
                <a href="#">Forgot your password?</a>
                <button>Sign In</button>
                <input type="hidden" name="type" value="login">
            </form>
        </div>
        <div id="sign_up">
            <form action="" method="POST">
                <h1>Create Account</h1>
                <!--<div id="icons">
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                </div>
                <span>or use your email for registration</span>-->
                <input type="text" name="name" placeholder="Name">
                <input type="text" name="login" placeholder="Login">
                <input type="password" name="first_password" placeholder="Password">
                <input type="password" name="second_password" placeholder="Repeat password">
                <button>Sign Up</button>
                <input type="hidden" name="type" value="new">
            </form>
        </div>
        <div id="before">
            <div id="left">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button>Sign Up</button>
            </div>
            <div id="right">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button>Sign In</button>
            </div>
        </div>
    </div>
</div>