<?php

echo '<link rel="stylesheet" href="styles/task.css"><main>';

//echo "<h1 style='color: red;'>$error</h1>";

if ($login == "admin") {
    echo '
        <div class="content">
            <h1>Add task</h1>
            <form enctype="multipart/form-data" method="POST" action="addtask">
                <input type="text" name="name" placeholder="Name"><br>
                <input type="text" name="description" placeholder="Description"><br>
                <input type="file" accept="image/jpeg,image/png,image/gif" name="picture"><br>
                <input type="submit">
            </form>
        </div>
    ';
}

foreach ($list as $id => $task) {
    $name = $task["name"];
    $pict = $task["picture"];
    echo "
        <div class='content'>
            <a href='task?id=$id'>
                <h1>$id: $name</h1>
                <img class='little' src='$pict' alt='$pict'>
            </a>
        </div>
    ";
}

?>

</main>
