<?php

echo '<link rel="stylesheet" href="styles/task.css"><main>';

//echo "<h1 style='color: red;'>$error</h1>";

if ($login == "admin") {
    echo '
        <div class="content">
            <h1 class="addtask">Add task</h1>
            <form enctype="multipart/form-data" method="POST" action="addtask">
                <input type="text" name="name" placeholder="Name" required>
                <textarea name="description" placeholder="Description" required></textarea>
                <input type="file" accept="image/jpeg,image/png,image/gif" name="picture" required>
                <input type="submit">
            </form>
        </div>
    ';
}

foreach ($list as $id => $task) {
    $name = $task["name"];
    $pict = $task["picture"];
    $status = $task["status"];
    echo "
        <div class='content'>
            <a href='task?id=$id'>
                <h1>$name <span class='$status'></span></h1>
                <img class='little' src='$pict' alt='$pict'>
            </a>
        </div>
    ";
}

?>

</main>
