<link rel="stylesheet" href="styles/task.css">
<main>
    <div class="content task">
        <h1><?php echo $res[1]["name"] ?></h1>
        <p><?php echo $res[1]["description"] ?></p>
        <img src="<?php echo $res[1]['picture'] ?>" alt="<?php echo $res[1]['picture'] ?>">
    </div>
    <div class="content">
        <h2>Send solution</h2>
        <form action="sendsolution" method="POST">
            <div class="inputsolution">
                <textarea name="html" placeholder="HTML"></textarea>
                <textarea name="css" placeholder="CSS"></textarea>
            </div>
            <br>
            <input type="submit">
            <input type="hidden" name="task_id" value="<?php echo $id ?>">
        </form>
    </div>

    <style>
        span.status0::before {
            content: "Waiting...";
        }
        span.status1::before {
            content: "Fully incorrect!";
        }
        span.status2::before {
            content: "Correct only HTML";
        }
        span.status3::before {
            content: "Correct only CSS";
        }
        span.status4::before {
            content: "Fully correct!";
        }
    </style>
    <script>
        function changestatus(id, code) {
            $.ajax({
            type: "POST",
            url: "changestatus",
            data: {
                "id": id,
                "code": code,
            },
            beforeSend: function() {
                console.log([id, code]);
            },
            success: function(data) {
                console.log(data);
                $("div#div"+id+" span.status").attr("class", "status status"+code);
            },
            error: function(error) {
                console.error(error);
            },
            complete: function() {
            },
        });
        }
    </script>

    <?php

    if ($login == "admin") {
        if (count($resa) > 0) {
            echo "
                <div class='content'>
                    <h1>Check solutions</h1>
                    <div style='display: flex; flex-direction: column-reverse;'>
            ";

            foreach ($resa as $id => $solution) {
                $user_login = $solution["login"];
                $name = $solution["name"];
                $html = $solution["html"];
                $mod_html = $solution["mod_html"];
                $css = $solution["css"];
                $mod_css = $solution["mod_css"];
                $status = $solution["status"];
                echo "
                    <div class='solution' id='div$id'>
                        <h2>$name <i>($user_login)</i></h2>
                        <h3>Status: <span class='status status$status'></span></h3>
                        <div class='buttons'>
                            <button onclick='changestatus($id, 1)' class='button1'>Fully incorrects!</button>
                            <button onclick='changestatus($id, 2)' class='button2'>Correct only HTML</button>
                            <button onclick='changestatus($id, 3)' class='button3'>Correct only CSS</button>
                            <button onclick='changestatus($id, 4)' class='button4'>Fully correct!</button>
                        </div>
                        <iframe srcdoc='
                            <style>$css</style>
                            $html
                        '></iframe>
                        <div class='code'>
                            <div class='code-html'>$mod_html</div>
                            <div class='code-css'>$mod_css</div>
                        </div>
                    </div>
                ";
            }

            echo "</div></div>";
        }
    }
    else {
        if (count($resa) > 0) {
            echo "
                <div class='content'>
                    <h1>Your solutions</h1>
            ";

            foreach (array_reverse($resa) as $id => $solution) {
                if ($login == $solution["login"]) {
                    $html = $solution["html"];
                    $mod_html = $solution["mod_html"];
                    $css = $solution["css"];
                    $mod_css = $solution["mod_css"];
                    $status = $solution["status"];
                    echo "
                        <div class='solution'>
                            <h2>Status: <span class='status$status'></span></h2>
                            <iframe srcdoc='
                                <style>$css</style>
                                $html
                            '></iframe>
                            <div class='code'>
                                <div class='code-html'>$mod_html</div>
                                <div class='code-css'>$mod_css</div>
                            </div>
                        </div>
                    ";
                }
            }
            echo "</div>";
        }
    }
    ?>
</main>
